<%-include('../includes/header.ejs')%>
<%-include('../includes/navbar.ejs')%>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 m-auto">
            <h1 class="text-center">تسجيل الاشتراك</h1>
            <form action="/register" method="POST">
                
                <div class="form-group text-right">
                        <label for="email">الايميل</label>
                        <input class="form-control" type="email" name="email" placeholder="الايميل">
                    </div>
                        <div class="form-group text-right">
                                <label for="password">كلمه السر</label>
                                <input class="form-control" type="password" name="password" placeholder="كلمه السر">
                            </div>
                            <div class="form-group text-right">
                                <label for="firstName">الاسم الاول</label>
                                <input class="form-control" type="text" name="firstName" placeholder="محمد">
                            </div>
                            <div class="form-group text-right">
                                <label for="lastName">الاسم الاخير</label>
                                <input class="form-control" type="text" name="lastName" placeholder="على">
                            </div>
                            <div class="form-group text-right">
                                <label for="phoneNum">رقم الهاتف</label>
                                <input class="form-control" type="number" name="phoneNum" placeholder="011xxxxxx">
                            </div>
                                <div class="form-group">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <button type="submit" class="btn btn-success btn-block">تسجيل الاشتراك</button>
                                </div>
            </form>
        </div>
    </div>
</div>




<%-include('../includes/footer.ejs')%>